* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Fredoka', sans-serif;
}

.overlay {
    position: relative
}

.backgroundImg {
    background-image: url("/assets/images/pexels-paint-1148998.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
    position: relative;
    z-index: 1;
}

#navbarNav .navbar-nav .nav-link {
    color: #320D37;
    font-size: 1.5em;
}

#navbarNav .navbar-nav .nav-link:hover {
    color: #c1ff72;
    background-color: #320D37;
    border-radius: 35px;
}

.carousel-inner>.carousel-item>img {
    height: 360px;
    width: 640px;
}

.welcome {
    color: black;
    font-size: 1em;
    background-color: rgba(245, 245, 245, 0.9);
    z-index: 2;
    position: absolute;
    top: 2px;
}

.welcome h2 {
    text-align: center;
    font-weight: bold;
}

.welcome p {
    text-align: center;
    font-size: 1em;
    overflow: hidden;

}

.price {
    text-align: center;
    margin-top: 20px;
}

.table-decor {
    border-collapse: collapse;
    margin: 40px 25px;
    min-width: 350px;
    min-height: 400px;

}


.colour th {
    background-color: #c1ff72;
    border: #320D37 solid 3px;
    text-align: center;
    font-size: 1.2em;
}

table td {
    border: #320D37 solid 3px;
    text-align: left;
    padding: 5px;
}

footer {
    padding: 3px;
    height: 150px;
    background-color: #c1ff72;
    color: #320D37;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    z-index: 2;
}

footer>div {
    width: 33%;
    margin: auto;
    text-align: center;
}

.contact {
    text-align: left;
    margin-left: 5%;
}


.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    color: #320D37;
    padding: 8px;
    margin: 2px;
}

.about {
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}

.about h2 {
    text-align: center;
}

.carousel-container {
    margin-right: 30%;
    margin-left: 30%;
    width: 35%;
    position: fixed;
    bottom: 150px;
}

.clubOffer {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 33%);
    grid-column-gap: 25px;
    grid-row-gap: 5%;
    margin: 30px 20px;

}

.grid-layout img {
    width: 300px;
    height: 40%;
    object-fit: cover;
}

.query-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.query-form {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}