@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    height: 100%;
    background-color: whitesmoke;
    font-family: 'Fredoka', sans-serif;
}

#navbarNav .navbar-nav .nav-link {
    color: #5e17eb;
}

#navbarNav .navbar-nav .nav-link:hover {
    color: #c1ff72;
    background-color: #5e17eb;
}

.welcome {
    color: #333333;
}

.carousel-inner>.carousel-item>img {
    height: 360px;
    width: 640px;
}


footer {
    padding: 3px;
    background-color: #c1ff72;
    color: #5e17eb;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}